.home{
    position: relative;
    background-color: #6da34d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
#main_logo{
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    height: 200px;
}
.home .home-body{
    width: 450px;
    padding: 20px 40px;
    position: relative;
}
.home input{
    box-shadow: none;
    border-radius: 0;
}
.home .bg{
    z-index: 2;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3F4B64;
    border-radius: 8px;
    border: 3px solid rgba(255,255,255,.3);
}
.home .home-content{
    padding: 0 10px;
    position: relative;
    z-index: 3;
}
.home .main-heading{
    font-size: 32px;
    margin: 0 0 35px;
}
.home .main-subheading{
    font-size: 28px;
    margin: 0;
    margin: 35px 0 0;
}
.home h1{
    margin: 0;
    padding:30px;
}
a{
    text-decoration: none;
    color: #fff;
}
.home .register .check{
    right:-35px;
}
.home .register .check::after{
    background-color: #3F4B64;
}
.text-success{
    color:#6da34d;
}