.home{
    background-color: #8CBBF8;
    text-align: center;
    color: #fff;
    height: 100vh;
    padding:200px 30px 30px;
}
.home h1{
    margin: 0;
    padding:30px;
}
a{
    text-decoration: none;
    color: #fff;
}