#userProfile .sidebar{
    margin: 0 30px;
    width: 40%;
    word-wrap: break-word;
    padding-right: 25px;
    border-right: 1px solid #ccc;
}
#userProfile .flex-box{
    flex-wrap: nowrap;
}
#userProfile .options{
    width: 55%;
    padding-left: 20px;
}
#userProfile .options span{
    color: #333;
    display: block;
    margin-bottom: 5px;
    transition: 300ms;
    cursor: pointer;
}
#userProfile .options span:hover{
    color: #ff8800;
}