#userProfile .sidebar{
    width: 30%;
    word-wrap: break-word;
    padding-right: 25px;
    border-right: 1px solid #ccc;
}
#userProfile .options{
    width: 65%;
    padding-left: 20px;
}
#userProfile .options a{
    color: #333;
    display: block;
    margin-bottom: 5px;
}