#main{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.flex-box{
  display: flex;
  justify-content: space-between;
}
.flex-box > div{
  width: 50%;
  color: #fff;
  min-height: calc(100vh - 74px);
}
h2{
  margin-top: 0;
}
.step-box > div{
  text-align: center;
  position: relative;
}
.curtain{
  position: relative;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bad5bf;
  width: 50%;
  z-index: 10;
  height: 100%;
  transition: 500ms;
}
.curtain.left-pos{
  right: 50%;
}
.curtain.away-pos{
  right: -50%;
}
.curtain .BurgersPreviewItem{
  margin: 100px auto 0;
  transition: 500ms;
  top: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.curtain .BurgersPreviewItem p{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.curtain .BurgersPreviewItem.active{
  left: 0;
  right: 0;
}
.curtain .BurgersPreviewItem.left{
  left: -1000px;
}
.curtain .BurgersPreviewItem.right{
  left: 1000px;
}
.step-one{
  padding-top: 200px;
  background-color: #0d1b1e;
}
.step-two{
  background-color: #ffa482;
}
.step-three{
  background-color: #8db955;
  width: 100%!important;
  transition: 300ms;
}
/* ANIMATIONS */
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: 500ms;
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
  transition: 300ms;
}
/* FADE LEFT */
.fade-left-enter{
  opacity: 0;
  transform: translateX(-100px);
}
.fade-left-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: 500ms;
}
.fade-left-exit{
  opacity: 1;
  transform: translateX(0);
}
.fade-left-exit-active{
  opacity: 0;
  transform: translateX(-100px);
  transition: 300ms;
}
/* SLIDE UP */
.slide-up-enter{
  top:100%;
}
.slide-up-enter-active{
  top:0;
  transition: 500ms;
}
.slide-up-enter-done{
  top: 0;
}
.slide-up-exit{
  top:0;
}
.slide-up-exit-active{
  top:100%;
  transition: 500ms;
}