.logoBox{
    position: absolute;
    top: 0;
    z-index: 20;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #c5090e ;
    width: 33%;
    height: 25%;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
}