header{
	margin:0;
	padding:20px 30px;
	background-color: #3F4B64;
    color:#fff;
    position: relative;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    align-items: center;
}
header #logo{
    height: 50px;
}
.wrapper{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div{
    display: flex;
    align-items: center;
}
header nav{
    display: inline-block;
}
header .nav{
    display:inline-block;
    margin:0 50px;
}
header .wrapper > div{
    display: flex;
    align-items: center;
}
header .nav li{
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
}
header .nav a{
    color:#fff;
    text-decoration: none;
    margin: 0 15px;
}
header .nav a.active{
    border-bottom: 3px solid #ff8000;
}
header .user{
    cursor: default;
    margin-right: 50px;
}
header .user span{
    cursor: pointer;
    transition: 300ms;
}
.profileLink.active, header .user span:hover, .profileLink:hover{
    color: #ff8000;
}
.loginModal{
    background-color: #3F4B64;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    padding: 5px 15px 15px;
    top: -300px;
    right: 50px;
    z-index: 11;
    transition: 500ms;
    min-width: 340px;
    text-align: center;
}
.loginModal input{
    box-shadow: none;
    border-radius: 0;
}
.loginModal.active{
    top: 75px;
}