header{
	width: 100vw;
	margin:0 0 30px;
	padding:20px 30px;
	background-color: #11203fce;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
}
header #logo{
    height: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div{
    display: flex;
    align-items: center;
}
header nav{
    display: inline-block;
}
header .nav{
    display:inline-block;
    margin:0 50px;
}
header .nav li{
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
}
header .nav a{
    color:#fff;
    text-decoration: none;
    margin: 0 15px;
}
header .nav a.active{
    border-bottom: 3px solid #fff;
}
header .user{
    margin-right: 50px;
}