.BurgerControl{
	margin: 10px auto;
	width: 200px;
	display: flex;
	justify-content: space-between;
}
.BurgerControl .ing-label {
	font-weight: 600;
	display: inline-block;
}
.BurgerControl .ing-amount{
	font-weight: 600;
	display: inline-block;
	padding-right:50px;
}
.BurgerControl .ing-buttons{
	transform: translateY(-4px);
	text-align: right;
	display: flex;
}
.BurgerControl .more, .BurgerControl .less{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 0 5px;
	color:#fff;
	font-size: 16px;
	border: none;
	text-transform: capitalize;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	font-weight: 700;
	transition: 300ms;
}
.BurgerControl .more{
	background-color: #6da34d;
}
.BurgerControl .less{
	background-color: #C51212;
}
button[disabled]{
	opacity: .3;
}
#orderBtn{
	background-color: #B60000;
	border:1px solid #860303;
	color:#fff;
	width: 80%;
	padding:10px 0;
	font-size: 28px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 12px 0 #860303, 0 17px 20px rgba(0, 0, 0, .4);
	transition: 300ms;
	outline: none;
}
#orderBtn:active{
	box-shadow: 0 1px 0 #860303, 0 6px 20px rgba(0, 0, 0, .4);
	transform: translateY(11px);
}
#orderBtn[disabled]{
	box-shadow: 0 1px 0 #860303, 0 6px 20px rgba(0, 0, 0, .4);
	transform: translateY(11px);
	opacity:.3;
}
