.orderHistory{
    padding: 30px;
    margin-top: -70px;
}
.orderHistory h2{
    text-align: center;
}
.orderHistory Button{
    margin:0 auto;
    display: block;
}
.historyItem{
    width: 300px;
    margin: 30px 50px;
    border-bottom: 1px solid #ccc;
}
.historyItem .Burger{
    width: 300px;
    height: 190px;
    margin: 0;
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.historyItem p{
    font-weight: 700;
}
.historyItem .totalPrice{
    font-weight: 700;
    text-align: center;
}
.historyItem ul{
    list-style:none;
    padding-left: 0;
}
.historyItem ul li{
    margin-bottom: 3px;
}
.historyItem .ingredients li{
    display: flex;
    justify-content: space-between;
}
.orderHistoryBody{
    display: flex;
}