.orderHistory{
    width: 100%;
    position: absolute;
    background-color: #2589bd;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.orderHistoryBody{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding-right: 17px; 
    box-sizing: content-box;
}
.orderHistory .close-btn{
    position: absolute;
    top: -40px;
    right: -40px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 25px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 300ms;
}
.orderHistory .close-btn img{
    width: 20px;
    height: 20px;
}
.orderHistory .close-btn:hover{
    padding: 70px;
    width: 175px;
    height: 175px;
}
.orderHistory h2{
    text-align: center;
}
.orderHistory Button{
    margin:5px auto;
    display: block;
}

.historyItem{
    padding-bottom: 10px;
    width: 350px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #ccc;
}
.flex-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.historyItem p{
    font-weight: 700;
}
.historyItem .totalPrice{
    font-weight: 700;
    text-align: center;
}
.historyItem ul{
    list-style:none;
    padding: 0;
    margin: 5px 0 0;
}
.historyItem ul li{
    margin-bottom: 3px;
}
.historyItem .ingredients li{
    display: flex;
    justify-content: space-between;
}
.historyItem .ingredients p{
    margin:15px 0 3px;
}
.historyItem .ingredients .burgerName{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.historyItem .ingredients .burgerIngList{
    width: 45%;
    margin-bottom: 10px;
}
