.BurgersList ul{
    position: relative;
    padding: 0;
    margin:10px 0 0;
}
.BurgersList ul li{
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    height: 15px;
    margin: 5px;
    cursor: pointer;
    width: 15px;
    transition: 500ms;
}
.close-btn{
    height: 50px;
    width: 70px;
    border-radius: 50%;
    padding-top: 20px;
    transition: 300ms;
    cursor: pointer;
}
.hidden{
    display: none;
}
.BurgersList ul li.current{
    background-color: #fff;
}
.BurgersList ul li .Burger{
    margin: 0;
    height: 60px;
    width: 120px;
}
.BurgersList ul li .Burger p{
    font-size: 7px;
    margin: 5px;
}
.BurgersList button{
    margin-top: 10px;
}