.Summary{
	width:70%;
	margin:0 auto;
}
.Summary ul{
	padding: 0;
	list-style: none;
	border-bottom: 2px solid #333;
	margin-bottom: 10px;
}
.Summary ul li{
	text-transform: capitalize;
	font-size: 22px;
	border-bottom: 1px solid #ccc;
}
.Summary .buttons{
	/* position: absolute; */
	bottom: 50px;
	left: 0;
	width: 100%;
	text-align: center;
}
.Summary ul li .ing-amount{
	float: right;
}
.Summary #totalPrice{
	/* position: absolute; */
	font-size: 22px;
	text-align: right;
}
.Summary .modal-ing-body{
	max-height: 500px;
	padding: 0 10px;
	overflow: auto;
}
.Summary .burgerName{
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 5px 0;
}
.Summary #totalPrice .priceNumber{
	font-size: 28px;
	font-weight: 700;
}
.SuccessModal{
	color: #1D6302;
	height: 170px;
	top:200px;
}
.SuccessModal Button{
	margin: 70px auto 0;
	display: block;
}
.error{
	color: #860303;
	font-size: 13px;
}
.mask{
	position: fixed;
	z-index: 15;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #333;
	opacity: .6
}
@keyframes FadeIn {
    from {opacity:0; transform: translateY(-50px);}
    to {opacity:1; transform: translateY(0px);}
}