.btn{
	background-color: #ccc;
    border: 1px solid #aaa;
    color: #fff;
    padding: 7px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 3px;
    transition: 300ms;
    outline: none;
    margin: 0 10px;
    display: inline-block;
}
.success{
	background-color: #6da34d;
	border-color: rgb(51, 133, 19);
}
.info{
	background-color: #2589bd;
	border-color: #2589bd;
}
.danger{
	background-color: #C51212;
	border-color: #ff3e41;
}
.btn.full-width{
    margin: 0;
    width: 100%;
}