.btn{
	background-color: #ccc;
    border: 1px solid #aaa;
    color: #fff;
    padding: 7px 20px;
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 3px;
    transition: 300ms;
    outline: none;
}
.success{
	background-color: #4cad2e;
	border-color: rgb(51, 133, 19);
}
.info{
	background-color: #4979fc;
	border-color: rgb(2, 48, 146);
}
.danger{
	background-color: #B60000;
	border-color: #860303;
}
.btn.full-width{
    width: 100%;
}