.checkout-page {
    text-align: center;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
}
.successPage svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  .successPage .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .successPage .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .successPage .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .successPage .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  .successPage p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  .successPage p.success {
    color: #6da34d;
    background-color:transparent;
  }
  .successPage p.error {
    color: #d06079;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }